.blog {
    background-color: #fafbff;
    padding: 94px 0;
}

.company-info {
    align-items: center;
    background-color: white;
    border: 1px solid #DEE1E6;
    border-radius: 20px;
    display: flex;
    gap: 22px;
    justify-content: center;
    margin: 0 0 72px 0;
    padding: 40px 44px;
}

.ci-title {
    font-size: 34px;
    font-weight: 800;
    flex-basis: 35%;
    line-height: 46px;
    letter-spacing: -0.03em;
}

.ci-details, .ci-detail, .ci-missions, .rb-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.ci-details {
    gap: 30px;
}

.ci-detail {
    gap: 18px;
}

.ci-detail i {
    background-color: #EBECE8;
    border-radius: 5px;
    font-size: 28px;
    height: 60px;
    padding: 10px;
    text-align: center;
    width: 60px;
}


.ci-detail-desc {
    color: #64607D;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.ci-missions {
    gap: 30px;
    margin: 0 0 102px 0;
}

.ci-mission {
    background: #FFFFFF;
    box-shadow: 0px 141.825px 113.46px rgba(0, 0, 0, 0.03), 0px 91.9235px 66.4476px rgba(0, 0, 0, 0.0227778), 0px 54.6288px 36.1391px rgba(0, 0, 0, 0.0182222), 0px 28.365px 18.4372px rgba(0, 0, 0, 0.015), 0px 11.5561px 9.24488px rgba(0, 0, 0, 0.0117778), 0px 2.62639px 4.46486px rgba(0, 0, 0, 0.00722222);
    border-radius: 20px;
    padding: 38px 56px;
    text-align: center;

}

.ci-mission-title {
    color: #000000;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.03em;
    margin: 0 0 20px 0;
}

.ci-mission-desc {
    color: #64607D;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0 0 36px 0;
}

.ci-mission button {
    border-radius: 10px;
}

.recent-blogs {
    margin: 0 0 156px 0;
}

.rb-name {
    color: #000000;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: -0.03em;
    margin: 0 0 72px 0;
}

.rb-top, .rb-bottom  {
    background-color: white;
}

.rb-subtitle {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.07em;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}

.rb-title {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
}

.rb-link-text {
    color: #1B1C31;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
}

.rb-link-text:hover {
    color: #393a53;
    transition: all 0.5s ease-in-out;
}

.rb-link-icon {
    font-size: 16px;
    margin: 0 0 0 10px;
}

.rb-img-top {
    width: 30%;
}

.rb-top {
    margin: 0 0 30px 0;
}

.rb-top > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 50%;
    gap: 68px 0;
    padding: 34px 28px;
}

.rb-bottom  {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding: 24px 32px;
}

.rb-bottom > div {
    flex-basis: 33.4%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rb-img-bottom {
    margin: 58px 0 0 0;
    height: 202px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .company-info {
        flex-direction: column;
    }

    .rb-top > div {
        flex-basis: auto;
    }

    .rb-title{
        font-size: 26px;
        line-height: 32px;
    }
}

@media screen and (max-width: 768px) {

    .blog {
        background-color: #fafbff;
        padding: 94px 0 0 0;
    }
    
    .company-info {
        gap: 32px;
        margin: 0 0 64px 0;
        padding: 36px 38px;
    }

    .ci-title {
        font-size: 32px;
        line-height: 42px;
    }

    .ci-details {
        gap: 16px;
    }

    .ci-detail-desc {
        font-size: 16px;
        line-height: 24px;
    }

    .ci-missions {
        align-items: start;
        gap: 16px;
    }

    .ci-mission {
        margin: 0 0 88px 0;
        padding: 38px 32px;
    }

    .ci-mission-title {
        font-size: 32px;
        line-height: 38px;
    }

    .ci-mission-desc {
        line-height: 22px;
    }

    .rb-name {
        font-size: 42px;
        line-height: 50px;
        margin: 0 0 64px 0;
        text-align: center;
    }

    .rb-subtitle {
        font-size: 14px;
        line-height: 21px;
    }

    .rb-top > div {
        gap: 54px 0;
        padding: 16px 14px;
    }

    .rb-img-top {
        width: 40%;
    }

    .rb-link-text {
        font-size: 14px;
    }

    .rb-bottom {
        padding: 24px 0;
        flex-direction: column;
    }

    .rb-bottom > div {
        flex-direction: row;
    }

    .rb-img-bottom {
        margin: 0 0 0 0;
        height: auto;
        width: 35%;
    }

    .rb-title{
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .company-info {
        text-align: center;
    }

    .ci-detail {
        flex-direction: column;
        gap: 14px;
    }

    .ci-detail-desc {
        font-size: 14px;
        line-height: 18px;
    }

    .ci-missions {
        flex-direction: column;
        gap: 32px;
    }

    .ci-mission {
        margin: 0 0 0 0;
    }

    .rb-name {
        font-size: 36px;
        line-height: 42px;
    }

    .rb-title {
        font-size: 22px;
        line-height: 28px;
    }

}

@media screen and (max-width: 426px) {
    .company-info {
        margin: 0 0 48px 0;
        text-align: left;
    }

    .ci-title {
        font-size: 28px;
        line-height: 36px;
    }

    .ci-details {
        align-items: self-start;
        flex-direction: column;
    }

    .ci-detail {
        flex-direction: row;
    }

    .ci-mission {
        padding: 32px 28px;
       
    }

    .ci-mission-title {
        font-size: 28px;
        margin: 0 0 16px 0;
        line-height: 34px;
        text-align: left;
    }

    .ci-mission-desc {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 32px 0;
        text-align: left;
    }

    .ci-mission button {
        width: 100%;
    }

    .rb-name {
        font-size: 32px;
        margin: 0 0 48px 0;
        line-height: 38px;
    }

    .rb-subtitle {
        font-size: 12px;
        margin: 0 0 12px 0;
        line-height: 18px;
    }

    .rb-title {
        font-size: 18px;
        line-height: 21px;
    }

    .rb-top {
        margin: 0 0 22px 0;
    }

    .rb-top > div {
        gap: 32px 0;
        padding: 16px 0;
    }

    .rb-img-top {
        width: 35%;
    }

    .rb-bottom > div {
        padding: 16px 0;
    }

    .rb-img-bottom {
        width: 30%;
    }

    .rb-link-text {
        font-size: 12px;
    }
}