.feature {
    background-color: #3734a9;
    color: white;
}

.f-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 144px 0 0 0;
    margin: 0 0 40px 0;
}

.f-head .f-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    flex-basis: 70%;
    line-height: 50px;
    letter-spacing: -0.03em;
}

.f-head button {
    border-radius: 10px;
    cursor: pointer;
}

.f-body {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 0 104px 0;
}

.f-benefit-list {
    align-items: center;
    display: flex;
    margin: 0 0 34px 0;
    /* justify-content: space-between; */
}

.f-benefit-list-number {
    background-color: rgb(27, 28, 49, 0.2);
    border-radius: 999px;
    font-size: 46px;
    font-weight: 700;
    height: 95px;
    line-height: 32px;
    letter-spacing: -0.02em;
    padding: 32px;
    text-align: center;
    width: 95px;
}

.f-benefit-list-text {
    margin: 0 0 0 28px;
}

.f-benefit-list-text .f-benefit-list-title {
    color: #e8f2ff !important;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 0 0 6px 0;
}

.f-benefit-list-text .f-benefit-list-desc {
    color: #a0b3e9;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.f-img {
    position: relative;
}

.f-img img {
    width: 100%;
}

.f-img .f-play-btn {
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
    left: 50%;
    height: 94px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 94px;
}

.f-img .f-play-btn:hover {
    background-color: rgb(240, 240, 240);
    transition: all 0.5s ease-in-out;
}

.f-img .f-play-btn:active {
    outline: rgba(255, 255, 255, 0.5) solid 5px;
    transition: none;
}

.f-play-btn .fa-play {
    color: #ff7f5c;
    font-size: 32px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(50%, 25%);
}

@media screen and (max-width: 1024px) {
    .f-head {
        margin: 0 0 56px 0;
    }

    .f-body {
        align-items: center;
    }

    .f-benefit-list-number {
        font-size: 24px;
        height: 60px;
        width: 68px;
        padding: 16px;
    }

    .f-benefit-list-text .f-benefit-list-desc {
        font-size: 14px;
        line-height: 22px;
    }

    .f-benefit-list-text .f-benefit-list-title {
        font-size: 22px;
        line-height: 28px;
    }

    .f-img {
        display: flex;
        justify-content: end;
    }

    .f-img img {
        width: 90%;
    }

    .f-img .f-play-btn {
        left: 55%;
        height: 94px;
        width: 94px;
    }

    .f-head .f-title {
        font-size: 36px;
        line-height: 42px;
    }
}

@media screen and (max-width: 768px) {
    .f-head {
        padding: 100px 0 0 0;
        margin: 0 0 40px 0;
        flex-direction: column;
        gap: 32px;
    }

    .f-head .f-title {
        text-align: center;
    }

    .f-body {
        padding: 0 0 100px 0;
        flex-direction: column-reverse;
        gap: 32px;
    }

    .f-img {
        justify-content: center;
    }

    .f-img img {
        width: 85%;
    }

    .f-play-btn .fa-play {
        font-size: 24px;
        top: 25%;
        left: 20%;
        transform: translate(50%, 25%);
    }

    .f-img .f-play-btn {
        left: 50%;
        height: 70px;
        width: 70px;
    }

    .f-benefit-list-number {
        height: 80px;
        padding: 24px;
        width: 80px;
        font-size: 28px;
    }

    .f-benefit-list {
        margin: 0 0 24px 0;
        gap: 0 14px;
    }

    .f-benefit-list-text .f-benefit-list-title {
        font-size: 24px;
    }

    .f-benefit-list-text .f-benefit-list-desc {
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (max-width: 640px) {
    .f-img img {
        width: 100%;
    }

    .f-benefit-list-text .f-benefit-list-title {
        font-size: 24px;
        line-height: 24px;
    }

    .f-benefit-list-text .f-benefit-list-desc {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 426px) {
    .f-head {
        margin: 0 0 64px 0;
    }

    .f-head .f-title {
        font-size: 32px;
        line-height: 36px;
        text-align: left;
    }

    .f-head button {
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
    }

    .f-benefit-list-text {
        margin: 0 0 0 0;
    }

    .f-benefit-list-number {
        height: 60px;
        font-size: 22px;
        padding: 16px 18px;
        width: 60px;
    }

    .f-benefit-list-text .f-benefit-list-title {
        font-size: 20px;
        line-height: 22px;
    }

    .f-benefit-list-text .f-benefit-list-desc {
        font-size: 12px;
        line-height: 18px;
    }
}
