@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 88px;
}

.btn {
    color: white;
    padding: 16px 40px;
}

.btn-primary {
    background-color: #3734A9;
    border: none;
}

.btn-primary:hover {
    background-color: #5955ca;
    transition: all 0.5s ease-in-out;
}

.btn-primary:active {
    outline: rgb(55, 52, 169, 0.5) solid 5px;
    transition: none;
}

.btn-secondary {
    background-color: #ff7f5c;
    border: none;
}

.btn-secondary:hover {
    background-color: #ed6f4c;
    transition: all 0.5s ease-in-out;
}

.btn-secondary:active {
    outline: rgb(255, 127, 92, 0.5) solid 5px;
    transition: none;
}

.btn-white {
    background-color: transparent;
    border: none;
}

.btn-white:hover {
    color: #ff7f5c;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 48px;
    }
    
}

@media screen and (max-width: 426px) {
    .wrapper {
        padding: 0 32px;
    }
    
}