@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 88px;
}

.btn {
    color: white;
    padding: 16px 40px;
}

.btn-primary {
    background-color: #3734A9;
    border: none;
}

.btn-secondary {
    background-color: #ff7f5c;
    border: none;
}

.btn-white {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 48px;
    }
    
}

@media screen and (max-width: 426px) {
    .wrapper {
        padding: 0 32px;
    }
    
}